@import './../../../styles/colors';

:host {
    display: block;
    height: 100%;
}

.mat-tree-container {
    height: 100%;
    overflow-y: scroll;

    .mat-tree-header {
        padding-top: 24px;

        .mat-tree-actions {
            display: grid;
            grid-gap: 8px;
            grid-template-columns: auto auto;
        }

        .mat-tree-checkbox {
            display: flex;
            justify-content: flex-end;
            padding: 10px 20px;
        }
    }

    .mat-tree-content {
        height: calc(100% - 100px);
        overflow: scroll;

        ul,
        li {
            margin-top: 0;
            margin-bottom: 0;
            list-style-type: none;
        }

        .mat-tree-node,
        .mat-nested-tree-node {
            cursor: pointer;
            overflow: visible;

            .hidden {
                display: none;
            }
        }

        .mat-tree-node > li,
        .mat-nested-tree-node > li > div {
            width: 100%;
            overflow: visible;

            &.mat-tree-node-success {
                color: $success;
            }

            &.mat-tree-node-warning {
                color: $warning;
            }

            &.mat-tree-node-error {
                color: $error;
            }

            > div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                > div,
                .mat-tree-node {
                    display: flex;
                    align-items: center;
                }

                > .mat-checkbox {
                    padding-right: 20px;
                }
            }
        }
    }
}
