:host {
    position: relative;
}

.screenshot {
    margin-top: 16px;

    img {
        max-width: 100%;
    }
}

.screenshot-header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    padding: 24px 0 12px 0;
    background: white;
    align-items: center;
    flex-wrap: wrap;
    z-index: 100;

    h1 {
        margin-bottom: 0;
        display: inline-block;
        word-break: break-all;
        flex: 1;
    }
}
