:host {
    position: relative;
}

.screenshot {
    margin-top: 16px;

    img {
        max-width: 100%;
    }
}

.screenshot-header {
    position: sticky;
    top: 0;
    padding: 24px 0 12px 0;
    background: white;
    z-index: 100;
    align-items: center;
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: 8px;

    &.screenshot-status-truth-does-not-exist,
    &.screenshot-status-do-not-match {
        grid-template-columns: min-content min-content auto;
    }

    h1 {
        margin-bottom: 0;
        display: block;
        word-break: break-all;

        &.screenshot-status-truth-does-not-exist,
        &.screenshot-status-do-not-match {
            cursor: pointer;
        }
    }
}
