@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './styles/colors';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

app-root {
    height: 100%;
    display: block;
}

.container {
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
    width: 100%;

    &.h-center {
        justify-content: center;
    }

    &.v-center {
        align-items: center;
    }

    &.flex-col {
        flex-direction: column;
    }

    &.space-between {
        justify-content: space-between;
    }
}

h1,
h2,
h3,
h4,
h5,
p,
span,
div {
    .success,
    .screenshot-status-match,
    &[color='success'] {
        color: $success;
    }
    .warning,
    .screenshot-status-truth-was-not-tested,
    &[color='warning'] {
        color: $warning;
    }
    .info,
    .screenshot-status-truth-does-not-exist,
    &[color='info'] {
        color: $info;
    }
    .error,
    .screenshot-status-do-not-match,
    &[color='error'] {
        color: $error;
    }
}

.bold {
    font-weight: bold;
}
